.header__basket {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__basketInfo {
  margin-right: 20px;
  text-align: right;
}

.header__basketInfoItem {
  font-family: 'Montserrat Medium';
  font-size: 17px;
  line-height: 21px;
  color: #fff;
}
