.container {
  position: relative;
  margin: 48px 68px 67px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 75px;
}

.header__title {
  font-family: 'Montserrat Bold';
  font-size: 1.9rem;
  line-height: 38px;
  color: #fff;
  text-transform: uppercase;
}

.modal {
  position: absolute;
  top: 20vh;
  left: 30vw;
  padding: 20px 40px;
  font-family: 'Montserrat Bold';
  font-size: 24px;
  background-color: #161516;
  color: #D58C51;
  border: 1px solid #D58C51;
  text-align: center;
}

.modal__text {
  margin-bottom: 20px;
}

@media (max-width: 880px) {
  .container {
    margin: 30px 45px;
  }

  .header {
    margin-bottom: 30px;
  }

  .header__title {
    font-size: 1.5rem;
  }
}

@media (max-width: 635px) {
  
}

@media (max-width: 425px) {
  .container {
    margin: 48px 68px 67px;
  }
}