/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 75px;
} */

/* .header__title {
  font-family: 'Montserrat Bold'; */
  /* font-size: 31px; */
  /* font-size: 1.9rem;
  line-height: 38px;
  color: #fff;
  text-transform: uppercase;
} */