.main {
  display: flex;
  height: 100vh;
  background-image: url(./assets/images/background_main.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.5;
}
